<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.oracle.pagedemo.mapper.BookMapper">

    <select id="queryAll" resultType="book">
        SELECT * FROM book
    </select>

    <select id="queryById" parameterType="int" resultType="book">
        SELECT * FROM book WHERE book_id = #{bookId}
    </select>

    <select id="queryPage" parameterType="map" resultType="book">
        SELECT * FROM book LIMIT #{limit},#{offset}
    </select>

    <select id="count" resultType="int">
        SELECT COUNT(book_id) count FROM book
    </select>

</mapper>